[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.testnet]
api_key_manager = "AhXw9kSv452KwujTWqNpuQcGvVXdkiHp4D2A8SFpLhUp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
